@import '@src/styles/common.less';
.albumModal {
  // .absNormal(750px, 1336px, calc(~'(100vh - 1336px)/2'), calc(~'(100vw - 750px)/2'));
  .absNormal(750px, 1336px, -128px, calc(~'(100vw - 750px)/2'));
  .webp("//yun.duiba.com.cn/aurora/assets/cd29cca10c40c1c28950b3dc364b51553b28cf1b.png");
  .album-title {
    .textfclaw(30px, #2a8fb1, @align: center, @lineH: 1);
    .absNormal(auto, 30px, 440px, @left: 155px);
  }
  .album-close {
    .webp("//yun.duiba.com.cn/aurora/assets/ccab82a445ab94c3f93fa5c9a2fa0b64b2e6a08c.png");
    .absNormal(62px, 62px, 300px, @right: 50px)
  }
  .album-list {
    .absNormal( 582px,716px, 498px, @left: 85px);
    overflow-y: scroll;
    .album-item {
      width: 185px;
      height: 232px;
      display: inline-block;
      position: relative;
      margin-right: 5px;
      &:last-child {
        margin-right: 0px;
      }
      img {
        width: 100%;
        height: 100%;
      }
      .album-name {
        .absNormal(134px, 55px, @bottom: 11px, @left: 35px);
        .webp("//yun.duiba.com.cn/aurora/assets/5aa8a0bc9649d15fcd021dddb652e558820d4bef.png");
        .textfclaw(24px, #24678c, @align: center, @lineH: 55px)
      }
    }
  }
}