@import "../../res.less";



#share_guide_layer {
  .bg {
    width: 500px;
    // .sparkBg('outShare/shareGuide.png')
  }
  .wrapper {
    display: none !important;
  }
}

.wrapper-cont {
  width: 750px;
  overflow-x: hidden;
}
.homepage {
  width: 903px;
  height: 7886px;
  left: -42px;
  top: 0px;
  position: relative;
  .bgalls {
    width: 903px;
    height: 7886px;
    left: 0px;
    top: 0px;
    position: absolute;
    .bgall {
      width: 750px;
      height: 7886px;
      left: 42px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/bg-all.png");
    }
    .top {
      width: 800px;
      height: 1295px;
      left: 0px;
      top: 49px;
      position: absolute;
      .sparkBg("homePage/top.png");
    }
    .liu {
      width: 193px;
      height: 123px;
      position: absolute;
      top: 100px;
      left: 17px;
      .sparkBg("homePage/柳条.png");
      transform-origin: left top;
      animation: move 6s linear infinite;
    }
    .liu2 {
      width: 193px;
      height: 123px;
      position: absolute;
      top: 300px;
      right: 110px;
      .sparkBg("homePage/柳条2.png");
      transform-origin: right top;
      animation: move 6s linear infinite;
    }
  }
  @keyframes move {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-20deg);
    }
    40% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(0deg);
    }
    90% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .longjingwencha {
    width: 467px;
    height: 719px;
    left: 325px;
    top: 5823px;
    position: absolute;
    .bglongjing {
      width: 467px;
      height: 719px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/bg-longjing.png");
    }
    .yanzilongjing {
      width: 109px;
      height: 75px;
      left: -400px;
      top: 380px;
      position: absolute;
      .sparkBg("homePage/yanzi-longjing.png");
      z-index: 8;
      animation: yanFly infinite linear 2s;
    }
  }
  .liulangwenyan {
    width: 640px;
    height: 617px;
    left: 152px;
    top: 2409px;
    position: absolute;
    .yanziliulang {
      width: 266px;
      height: 297px;
      left: 60px;
      top: 70px;
      position: absolute;
      .sparkBg("homePage/风筝线.png");
      transform-origin: right bottom;
      animation: flyBird2 infinite 7s linear;
      z-index: 8;
    }
    .bgliuliang {
      width: 640px;
      height: 583px;
      left: 0px;
      top: 34px;
      position: absolute;
      .sparkBg("homePage/bg-liuliang.png");
    }
  }
  @keyframes flyBird2 {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(20deg);
    }
    40% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(-10deg);
    }
    80% {
      transform: rotate(0deg);
    }
    90% {
      transform: rotate(10deg);
    }
  }
  @keyframes yanFly {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      // transform:rotate(10deg);
      transform: translate(950px, -500px);
    }
  }
  @keyframes yanFly2 {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      // transform:rotate(10deg);
      transform: translate(-950px, -500px);
    }
  }
  .yuhuangfeiyun {
    width: 555px;
    height: 668px;
    left: 237px;
    top: 4770px;
    position: absolute;
    .yun1yuhuang {
      width: 282px;
      height: 81px;
      left: 273px;
      top: 93px;
      position: absolute;
      .sparkBg("homePage/yun1-yuhuang.png");
      animation: yunMove infinite 9s linear;
      z-index: 2;
    }
    .shanhou {
      width: 284px;
      height: 172px;
      left: 174px;
      top: 172px;
      position: absolute;
      .sparkBg("homePage/shan-hou.png");
    }
    .yun2yuhuang {
      width: 425px;
      height: 95px;
      left: 0px;
      top: 227px;
      position: absolute;
      .sparkBg("homePage/yun2-yuhuang.png");
      animation: yunMove infinite 9s linear;
      z-index: 2;
    }
    .shanqian {
      width: 383px;
      height: 415px;
      left: 172px;
      top: 90px;
      position: absolute;
      .sparkBg("homePage/shan-qian.png");
    }
    .yunyouyuhuang {
      width: 163px;
      height: 81px;
      left: 412px;
      top: 211px;
      position: absolute;
      .sparkBg("homePage/yun-youyuhuang.png");
      animation: yunMove infinite 9s linear;
      z-index: 2;
    }
    .yun3yuhuang {
      width: 344px;
      height: 160px;
      left: 231px;
      top: 339px;
      position: absolute;
      .sparkBg("homePage/yun3-yuhuang.png");
      animation: yunMove infinite 9s linear;
      z-index: 2;
    }
    .shipyuhuang {
      width: 161px;
      height: 136px;
      left: 394px;
      top: 532px;
      position: absolute;
      .sparkBg("homePage/ship-yuhuang.png");
    }
    .liushuyuhuang {
      width: 162px;
      height: 113px;
      left: 393px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/liushu-yuhuang.png");
      transform-origin: right top;
      animation: move 6s linear infinite;
    }
  }
  @keyframes shipMove3 {
    0% {
      transform: rotate(0deg);
      transform: translate(0px, 0px);
    }
    25% {
      transform: rotate(2deg);
      transform: translate(55px, 25px);
    }
    50% {
      transform: rotate(0deg);
      transform: translate(0px, 0px);
    }
    75% {
      transform: rotate(-2deg);
      transform: translate(55px, 25px);
    }
    100% {
      transform: rotate(0deg);
      transform: translate(0px, 0px);
    }
  }
  .nanpingwanzhong {
    width: 489px;
    height: 584px;
    left: 42px;
    top: 3936px;
    position: absolute;
    .people {
      width: 489px;
      height: 549px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/人.png");
    }
    .yun {
      width: 372px;
      height: 95px;
      left: -20px;
      top: 285px;
      position: absolute;
      .sparkBg("homePage/yun.png");
      animation: yunMove infinite 9s linear;
    }
    .clock {
      width: 137px;
      height: 171px;
      left: 48px;
      top: 305px;
      position: absolute;
      .sparkBg("homePage/clock.png");
      transform-origin: top;
      animation: clockMove infinite 6s linear;
    }
    .dayan {
      width: 124px;
      height: 69px;
      left: 146px;
      top: 195px;
      position: absolute;
      .sparkBg("homePage/dayan.png");
    }
    .house {
      width: 127px;
      height: 101px;
      left: 0px;
      top: 176px;
      position: absolute;
      .sparkBg("homePage/house.png");
    }
    .shipnanping {
      width: 137px;
      height: 40px;
      left: 113px;
      top: 544px;
      position: absolute;
      .sparkBg("homePage/ship-nanping.png");
      animation: shipman infinite linear 3s;
    }
  }
  @keyframes shipman {
    0%{
      transform: translate(0,0);
    }
    50%{
      transform: translate(20px,0);
    }
    100%{
      transform: translate(0,0);
    }
  }
  @keyframes clockMove {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(0deg);
    }
    90% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .huanglongtucui {
    width: 391px;
    height: 638px;
    left: 42px;
    top: 5727px;
    position: absolute;
    .bghuanglong {
      width: 391px;
      height: 495px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/bg-huanglong.png");
    }
    .shiphuanglong {
      width: 164px;
      height: 132px;
      left: 117px;
      top: 506px;
      position: absolute;
      .sparkBg("homePage/ship-huanglong.png");
      animation: linear shipMove3 9s infinite;
    }
    // .water{
    //   width: 73px;
    //   height: 299px;
    //   left: 117px;
    //   top: 506px;
    //   position: absolute;
    // }
    .liuye {
      width: 176px;
      height: 151px;
      left: 0px;
      top: 408px;
      position: absolute;
      .sparkBg("homePage/liuye.png");
      transform-origin: left top;
      animation: move 6s linear infinite;
    }
  }
  .wushantianfeng {
    width: 512px;
    height: 512px;
    left: 280px;
    top: 4147px;
    position: absolute;
    .bgwushan {
      width: 467px;
      height: 512px;
      left: 45px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/bg-wushan.png");
    }
    .wushansvga {
      width: 514px;
      height: 281px;
      position: absolute;
      left: 0px;
      top: 170px;
    }
  }
  .hupaimengquan {
    width: 487px;
    height: 448px;
    left: 42px;
    top: 6337px;
    position: absolute;
    .bghupao {
      width: 487px;
      height: 448px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/bg-hupao.png");
    }
  }
  .jiuxiyanshu {
    width: 453px;
    height: 326px;
    left: 339px;
    top: 5509px;
    position: absolute;
    .bgjiuquan {
      width: 453px;
      height: 326px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/bg-jiuquan.png");
    }
  }
  .ruandunhuanbi {
    width: 684px;
    height: 463px;
    left: 80px;
    top: 6647px;
    position: absolute;
    .bghuanbi {
      width: 656px;
      height: 327px;
      left: 15px;
      top: 136px;
      position: absolute;
      .sparkBg("homePage/bg-huanbi.png");
    }
    .yanziyou {
      width: 146px;
      height: 118px;
      left: 538px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/yanzi-you.png");
      animation: BirdMove22 2s linear infinite;
      animation-fill-mode: forwards;
    }
    .yanzizuo {
      width: 98px;
      height: 79px;
      left: 0px;
      top: 268px;
      position: absolute;
      .sparkBg("homePage/yanzi-zuo.png");
      animation: BirdMove22 2s linear infinite;
      animation-fill-mode: forwards;
    }
    .yanziwhite {
      width: 384px;
      height: 112px;
      left: 133px;
      top: 111px;
      position: absolute;
      .sparkBg("homePage/yanzi-white.png");
    }
  }
  @keyframes BirdMove22 {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(-835px, 215px);
    }
  }
  .pinghuqiuyue {
    width: 750px;
    height: 503px;
    left: 42px;
    top: 1594px;
    position: absolute;
    .bgpinghu {
      width: 750px;
      height: 503px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/bg-pinghu.png");
    }
    .light {
      width: 426px;
      height: 156px;
      left: 9px;
      top: 120px;
      position: absolute;
      .sparkBg("homePage/light.png");
      // animation: lightMove steps(12 ,end) infinite 6s;
      animation: lightMove 3s linear infinite normal;
      // animation-fill-mode : backwards;
    }
  }
  @keyframes lightMove {
    0% {
      opacity: 0;
      transform: translate(0px, 0px);
    }
    25% {
      opacity: 0.4;
      transform: translate(5px, -5px);
    }
    50% {
      opacity: 0.6;
      transform: translate(10px, -10px);
    }
    75% {
      opacity: 1;
      transform: translate(15px, -15px);
    }
    100% {
      opacity: 0;
      transform: translate(25px, -25px);
    }
  }
  .duanqiaocanxue {
    width: 428px;
    height: 342px;
    left: 364px;
    top: 2074px;
    position: absolute;
    .bgduanqiao {
      width: 428px;
      height: 334px;
      left: 0px;
      top: 8px;
      position: absolute;
      .sparkBg("homePage/bg-duanqiao.png");
    }
    .snow {
      width: 247px;
      height: 223px;
      right: 0px;
      top: 0px;
      position: absolute;
      // background: url('//yun.duiba.com.cn/aurora/assets/2f6768ff2c3e5a322f47c32c2d60456ad325bb96.svga') no-repeat top left /
      // 100% 100% ;
      // .sparkBg("homePage/snow.png");
    }
  }
  .manlongguiyu {
    width: 648px;
    height: 588px;
    left: 42px;
    top: 4544px;
    position: absolute;
    .bg_guiyu {
      width: 450px;
      height: 544px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/bg_guiyu.png");
    }
    .swallowguiyu {
      width: 132px;
      height: 90px;
      right: -50px;
      top: 808px;
      position: absolute;
      .sparkBg("homePage/swallow-guiyu.png");
      // animation: BirdMove2 2s linear 1;
      animation: yanFly2 infinite linear 2s;
      z-index: 2;
    }
    .flowers{
      width: 331px;
      height: 514px;
      left: 0px;
      top: 0px;
      position: absolute;
      // background: url('//yun.duiba.com.cn/aurora/assets/f90ee4ba20d4df38795e0ace9f56a0b4326a175b.svga') no-repeat top left /
      // 100% 100% ;
    }
    .shipguiyu {
      width: 152px;
      height: 125px;
      left: 240px;
      top: 440px;
      position: absolute;
      .sparkBg("homePage/ship-guiyu.png");
      animation:shipMove24 infinite linear 4s;
    }
  }
  @keyframes shipMove24 {
    0% {
      transform: rotate(0deg);
      transform: translate(0px, 0px);
      opacity: 1;
    }
    // 25% {
    //   transform: rotate(2deg);
    //   transform: translate(185px, -165px);
    //   opacity: 0.8;
    // }
    100% {
      transform: rotate(0deg);
      transform: translate(195px, -195px);
      opacity: 0;
    }
    // 75% {
    //   transform: rotate(-2deg);
    //   transform: translate(185px, -165px);
    //   opacity: 0.4;
    // }
    // 100% {
    //   transform: rotate(0deg);
    //   transform: translate(0px, 0px);
    //   opacity: 0;
    // }
  }
  .sudichunwan {
    width: 750px;
    height: 569px;
    left: 42px;
    top: 1109px;
    position: absolute;
    .bg_shudi {
      width: 750px;
      height: 391px;
      left: 0px;
      top: 126px;
      position: absolute;
      .sparkBg("homePage/bg_shudi.png");
    }
    .ship {
      width: 159px;
      height: 102px;
      left: 229px;
      top: 306px;
      position: absolute;
      .sparkBg("homePage/ship.png");
      animation: shipMove infinite 9s linear;
    }
    .swallow {
      width: 146px;
      height: 119px;
      left: 17px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/swallow.png");
      animation: BirdMove 2s linear 1;
      animation-fill-mode: forwards;
    }
    .kite {
      width: 238px;
      height: 186px;
      left: 0px;
      top: 383px;
      position: absolute;
      .sparkBg("homePage/kite.png");
      transform-origin: left bottom;
      animation: flyBird infinite 7s linear;
    }
  }
  @keyframes shipMove {
    0% {
      transform: rotate(0deg);
      transform: translate(0px, 0px);
      // background-position: 0px 0px;
    }
    25% {
      transform: rotate(2deg);
      // background-position: -10% 5%;
      transform: translate(15px, -25px);
    }
    50% {
      transform: rotate(0deg);
      transform: translate(0px, 0px);
    }
    75% {
      transform: rotate(-2deg);
      transform: translate(15px, -25px);
    }
    100% {
      transform: rotate(0deg);
      transform: translate(0px, 0px);
    }
  }
  @keyframes flyBird {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-20deg);
    }
    40% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(0deg);
    }
    90% {
      transform: rotate(-10deg);
    }
  }
  @keyframes BirdMove {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(835px, 215px);
    }
  }
  .yunxizhujing {
    width: 437px;
    height: 523px;
    left: 42px;
    top: 5137px;
    position: absolute;
    .shan {
      width: 264px;
      height: 331px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/shan.png");
    }
    .zhuzihou {
      width: 89px;
      height: 243px;
      left: 177px;
      top: 133px;
      position: absolute;
      .sparkBg("homePage/zhuzi-hou.png");
    }
    .yuntop_1 {
      width: 325px;
      height: 70px;
      left: 0px;
      top: 152px;
      position: absolute;
      .sparkBg("homePage/yun-top.png");
      animation: yunMove infinite 9s linear;
    }
    .zhuziqian {
      width: 437px;
      height: 437px;
      left: 0px;
      top: 86px;
      position: absolute;
      .sparkBg("homePage/zhuzi-qian.png");
    }
    .yun2 {
      width: 236px;
      height: 101px;
      left: -20px;
      top: 360px;
      position: absolute;
      .sparkBg("homePage/yun2.png");
      animation: yunMove infinite 9s linear;
    }
  }
  .santanyingyue {
    width: 256px;
    height: 496px;
    left: 117px;
    top: 2780px;
    position: absolute;
    .bgsantan {
      width: 247px;
      height: 305px;
      left: 9px;
      top: 191px;
      position: absolute;
      .sparkBg("homePage/bg-santan.png");
    }
    .yanzizuo_1 {
      width: 84px;
      height: 68px;
      left: 40px;
      top: 104px;
      position: absolute;
      .sparkBg("homePage/yanzi-zuo.png");
      animation: BirdMove22 4s linear infinite;
      animation-fill-mode: forwards;
    }
    .yanziyou_1 {
      width: 70px;
      height: 57px;
      left: 178px;
      top: 117px;
      position: absolute;
      .sparkBg("homePage/yanzi-you.png");
      animation: BirdMove22 4s linear infinite;
      animation-fill-mode: forwards;
    }
    .yanzi1 {
      width: 146px;
      height: 119px;
      left: 91px;
      top: -10px;
      position: absolute;
      .sparkBg("homePage/yanzi1.png");
      animation: BirdMove22 4s linear infinite;
      animation-fill-mode: forwards;
    }
  }

  .huagangguanyu {
    width: 460px;
    height: 617px;
    left: 42px;
    top: 2145px;
    position: absolute;
    .bghuagang {
      width: 460px;
      height: 617px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/bg-huagang.png");
    }
    .fish {
      width: 448px;
      height: 240px;
      left: 0px;
      top: 240px;
      position: absolute;
      // background: url('//yun.duiba.com.cn/aurora/assets/479eafd3181763d09cd569d52dd9f672bd997961.svga') no-repeat top left /
      // 100% 100% ;
    }
    .yunhuagang {
      width: 261px;
      height: 78px;
      left: -20px;
      top: 292px;
      position: absolute;
      .sparkBg("homePage/yun-huagang.png");
      animation: yunMove infinite 9s linear;
    }
  }
  .leifengxizhao {
    width: 750px;
    height: 970px;
    left: 42px;
    top: 3145px;
    position: absolute;
    .yun2_1 {
      width: 463px;
      height: 185px;
      left: 0px;
      top: 412px;
      position: absolute;
      .sparkBg("homePage/yun2.png");
    }
    .yun_1 {
      width: 142px;
      height: 61px;
      left: 0px;
      top: 329px;
      position: absolute;
      .sparkBg("homePage/yun.png");
    }
    .bgleifeng {
      width: 750px;
      height: 775px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/bg-leifeng.png");
    }
    .shipleifeng {
      width: 210px;
      height: 136px;
      left: 449px;
      top: 812px;
      position: absolute;
      .sparkBg("homePage/ship-leifeng.png");
      animation: shipMove2 infinite 9s linear;
    }
    .shuye {
      width: 249px;
      height: 191px;
      left: 501px;
      top: 779px;
      position: absolute;
      .sparkBg("homePage/shuye.png");
      transform-origin: right top;
      animation: move 6s linear infinite;
    }
    .dayan_1 {
      width: 124px;
      height: 69px;
      left: 207px;
      top: 323px;
      position: absolute;
      .sparkBg("homePage/dayan.png");
      animation:dayanmove infinite linear 5s ;
      
    }
  }
  @keyframes dayanmove {
    0% {
      opacity: 1;
      transform: translate(0px, 0px);
    }
    100% {
      opacity: 0;
      transform: translate(-450px, -200px);
    }
  }
  @keyframes shipMove2 {
    0% {
      transform: rotate(0deg);
      transform: translate(0px, 0px);
    }
    25% {
      transform: rotate(2deg);
      transform: translate(55px, 25px);
    }
    50% {
      transform: rotate(0deg);
      transform: translate(0px, 0px);
    }
    75% {
      transform: rotate(-2deg);
      transform: translate(55px, 25px);
    }
    100% {
      transform: rotate(0deg);
      transform: translate(0px, 0px);
    }
  }
  .shuangfengchayun {
    width: 476px;
    height: 559px;
    left: 316px;
    top: 3016px;
    position: absolute;
    .shan1 {
      width: 377px;
      height: 471px;
      left: 99px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/shan1.png");
    }
    .yun1 {
      width: 311px;
      height: 105px;
      left: 185px;
      top: 80px;
      position: absolute;
      .sparkBg("homePage/yun1.png");
      animation: yunMove infinite 9s linear;
    }
    .shan2 {
      width: 164px;
      height: 334px;
      left: 312px;
      top: 28px;
      position: absolute;
      .sparkBg("homePage/shan2.png");
    }
    .yun2_2 {
      width: 178px;
      height: 94px;
      left: 318px;
      top: 207px;
      position: absolute;
      .sparkBg("homePage/yun2_2.png");
      animation: yunMove infinite 9s linear;
    }
    .shan3 {
      width: 375px;
      height: 300px;
      left: 101px;
      top: 259px;
      position: absolute;
      .sparkBg("homePage/shan3.png");
    }
    .yun3 {
      width: 347px;
      height: 69px;
      left: 0px;
      top: 296px;
      position: absolute;
      .sparkBg("homePage/yun3.png");
      animation: yunMove infinite 9s linear;
    }
    .yun4 {
      width: 268px;
      height: 103px;
      left: 228px;
      top: 427px;
      position: absolute;
      .sparkBg("homePage/yun4.png");
      animation: yunMove infinite 9s;
    }
    .yan {
      width: 246px;
      height: 147px;
      left: 210px;
      top: 52px;
      position: absolute;
      .sparkBg("homePage/yan.png");
    }
  }
  .quyuanfenghe {
    width: 591px;
    height: 395px;
    left: 201px;
    top: 1376px;
    position: absolute;
    .zu103 {
      width: 591px;
      height: 395px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/组103.png");
    }
    .zu1033 {
      width: 452px;
      height: 170px;
      left: 142px;
      top: 209px;
      position: absolute;
      .sparkBg("homePage/组 1033.png");
      z-index: 1;
    }
    .heye {
      width: 402px;
      height: 191px;
      position: absolute;
      left: 190px;
      top: 132px;
      // background: url('//yun.duiba.com.cn/aurora/assets/40befec68d4f7a66b44fc797324ce51aadf53642.svga') no-repeat top left /
      // 100% 100% ;
    }
  }
  @keyframes yunMove {
    0% {
      transform: translate(0px, 0px);
    }
    33% {
      transform: translate(-20px, 0px);
    }
    66% {
      transform: translate(20px, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  .baoshiliuxia {
    width: 750px;
    height: 622px;
    left: 42px;
    top: 7018px;
    position: absolute;
    .bgliuxia {
      width: 750px;
      height: 622px;
      left: 0px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/bg-liuxia.png");
    }
    .yunliuxiayou {
      width: 314px;
      height: 71px;
      left: 436px;
      top: 265px;
      position: absolute;
      .sparkBg("homePage/yun-liuxia-you.png");
      animation: yunMove infinite 9s linear;
      z-index: 2;
    }
    .birdbao{
      width: 34px;
      height: 19px;
      position: absolute;
      left:450px;
      top:300px;
      .sparkBg("homePage/鸟.png");
      animation: birdFlyMove infinite linear 3s;
    }
    .yunliuxiazuo {
      width: 306px;
      height: 71px;
      left: 0px;
      top: 445px;
      position: absolute;
      .sparkBg("homePage/yun-liuxia-zuo.png");
      animation: yunMove infinite 9s linear;
      z-index: 2;
    }
  }
  @keyframes birdFlyMove {
    0%{
      transform: translate(0,0);
      opacity: 1;
    }
    100%{
      transform: translate(-200px,-100px);
      opacity: 0;
    }
  }
  .button {
    width: 750px;
    height: 336px;
    left: 42px;
    top: 7550px;
    position: absolute;
    .yunzuo {
      width: 334px;
      height: 103px;
      left: 0px;
      top: 232px;
      position: absolute;
      .sparkBg("homePage/yun-zuo.png");
      animation: yunMove infinite 9s linear;
    }
    .mzuo {
      width: 169px;
      height: 208px;
      left: 0px;
      top: 128px;
      position: absolute;
      .sparkBg("homePage/m-zuo.png");
    }
    .mhou {
      width: 209px;
      height: 336px;
      left: 460px;
      top: 0px;
      position: absolute;
      .sparkBg("homePage/m-hou.png");
    }
    .yunyou {
      width: 312px;
      height: 102px;
      left: 438px;
      top: 106px;
      position: absolute;
      .sparkBg("homePage/yun-you.png");
      animation: yunMove infinite 9s linear;
    }
    .mqian {
      width: 480px;
      height: 275px;
      left: 270px;
      top: 61px;
      position: absolute;
      .sparkBg("homePage/m-qian.png");
    }
  }
  .titles {
    width: 701px;
    height: 7090px;
    left: 60px;
    top: 341px;
    position: absolute;
    z-index: 2;
    ._1 {
      width: 59px;
      height: 163px;
      left: 106px;
      top: 912px;
      position: absolute;
      .sparkBg("homePage/1.png");
    }
    ._2 {
      width: 59px;
      height: 163px;
      left: 523px;
      top: 1242px;
      position: absolute;
      .sparkBg("homePage/2.png");
    }
    ._3 {
      width: 59px;
      height: 163px;
      left: 23px;
      top: 1444px;
      position: absolute;
      .sparkBg("homePage/3.png");
    }
    ._4 {
      width: 59px;
      height: 163px;
      left: 626px;
      top: 1708px;
      position: absolute;
      .sparkBg("homePage/4.png");
    }
    ._5 {
      width: 59px;
      height: 163px;
      left: 14px;
      top: 2045px;
      position: absolute;
      .sparkBg("homePage/5.png");
    }
    ._6 {
      width: 59px;
      height: 163px;
      left: 594px;
      top: 2153px;
      position: absolute;
      .sparkBg("homePage/6.png");
    }
    ._7 {
      width: 59px;
      height: 163px;
      left: 0px;
      top: 2589px;
      position: absolute;
      .sparkBg("homePage/7.png");
    }
    ._8 {
      width: 59px;
      height: 163px;
      left: 435px;
      top: 2804px;
      position: absolute;
      .sparkBg("homePage/8.png");
    }
    ._9 {
      width: 59px;
      height: 163px;
      left: 8px;
      top: 3180px;
      position: absolute;
      .sparkBg("homePage/9.png");
    }
    ._10 {
      width: 59px;
      height: 163px;
      left: 218px;
      top: 3637px;
      position: absolute;
      .sparkBg("homePage/10.png");
    }
    ._11 {
      width: 59px;
      height: 163px;
      left: 632px;
      top: 4041px;
      position: absolute;
      .sparkBg("homePage/11.png");
    }
    ._12 {
      width: 59px;
      height: 163px;
      left: 29px;
      top: 4188px;
      position: absolute;
      .sparkBg("homePage/12.png");
    }
    ._13 {
      width: 59px;
      height: 163px;
      left: 545px;
      top: 4531px;
      position: absolute;
      .sparkBg("homePage/13.png");
    }
    ._14 {
      width: 59px;
      height: 163px;
      left: 8px;
      top: 4907px;
      position: absolute;
      .sparkBg("homePage/14.png");
    }
    ._15 {
      width: 59px;
      height: 163px;
      left: 642px;
      top: 5138px;
      position: absolute;
      .sparkBg("homePage/15.png");
    }
    ._16 {
      width: 59px;
      height: 163px;
      left: 38px;
      top: 5675px;
      position: absolute;
      .sparkBg("homePage/16.png");
    }
    ._17 {
      width: 59px;
      height: 163px;
      left: 394px;
      top: 5943px;
      position: absolute;
      .sparkBg("homePage/17.png");
    }
    ._18 {
      width: 59px;
      height: 163px;
      left: 20px;
      top: 6114px;
      position: absolute;
      .sparkBg("homePage/18.png");
    }
    ._19 {
      width: 59px;
      height: 163px;
      left: 617px;
      top: 6488px;
      position: absolute;
      .sparkBg("homePage/19.png");
    }
    ._20 {
      width: 59px;
      height: 163px;
      left: 48px;
      top: 6927px;
      position: absolute;
      .sparkBg("homePage/20.png");
    }
  }
  .locatpos1 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 1147px;
    left: 116px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos2 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 1447px;
    right: 170px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos3 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 1687px;
    left: 46px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos4 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 1947px;
    right: 70px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos5 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 2247px;
    left: 30px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos6 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 2370px;
    right: 46px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos7 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 2800px;
    left: 10px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos8 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 3030px;
    right: 146px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos9 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 3400px;
    left: 16px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos10 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 3897px;
    left: 120px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos11 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 4247px;
    right: 66px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos12 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 4440px;
    left: 40px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos13 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 4747px;
    right: 46px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos14 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 5120px;
    left: 16px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos15 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 5347px;
    right: 46px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos16 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 5890px;
    left: 36px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos17 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 6147px;
    right: 200px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos18 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 6327px;
    left: 26px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos19 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 6740px;
    right: 80px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  .locatpos20 {
    // .absNormal(300px, 500px, 7447px, @left: 0);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 7147px;
    left: 46px;
    .signedTag {
      // .absNormal(144px, 140px, 70px, 60px);
      width: 171px;
      height: 138px;
      position: absolute;
      top: 70px;
      left: 60px;
      z-index: 999;
      .sign_ani {
        // .absNormal(467px, 467px, 50%, @left: 50%);
        width: 467px;
        height: 467px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .sign_icon {
        background: url("//yun.duiba.com.cn/aurora/assets/e7798a15d0a0dd6848ec7c9f68341d206d7a6c9f.png")
          no-repeat top left / 100%;
        // .absNormal(144px, 140px, 0, 0);
        width: 144px;
        height: 140px;
        position: absolute;
        top: 0px;
        left: 0px;
        &.sign_icon_ani {
          animation: sign_icon_ani 0.8s;
        }
      }
    }
  }
  @keyframes sign_icon_ani {
    0% {
      transform: scale(2);
      opacity: 0;
    }
    50% {
      transform: scale(0.8);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
